<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
       
        <img src="/assets/Logo.png" alt="mylogo" class="mylogo">
      </div>
      <nav>

        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/portfolio/">Work</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>